.icon{ background:url("icon.png") top left no-repeat; }
.task_1_7_1_r11_c10{ width:91px; height:92px; background-position:-10px -10px; }

.task_1_7_1_r6_c4{ width:42px; height:42px; background-position:-10px -112px; }

.task_1_7_1_r7_c6{ width:35px; height:40px; background-position:-62px -112px; }

.task_1_7_1_r7_c18{ width:35px; height:40px; background-position:-10px -164px; }
.task_1_7_1_r6_c20{ width:41px; height:40px; background-position:-55px -164px; }

.task_1_7_1_r2_c2{ width:31px; height:31px; background-position:-10px -214px; }

.task_1_7_1_r13_c16{ width:24px; height:25px; background-position:-51px -214px; }

.task_1_7_1_r13_c13{ width:29px; height:25px; background-position:-10px -255px; }

.task_1_7_1_r13_c11{ width:29px; height:25px; background-position:-49px -255px; }

.task_1_7_1_r13_c8{ width:24px; height:25px; background-position:-10px -290px; }

.task_1_7_1_r3_c22{ width:14px; height:17px; background-position:-85px -214px; }

