/* 变量 */
@blue:#91d4da;
@border:#f5f5f5;
/* reset */
body,header,nav,div,span,p,a,h1,h2,h3,img{margin:0;padding:0;border:none;outline:none;}
a:link,a:visited{color:#000;text-decoration: none;}
a:hover,a:active{color:#f00;}
ul{list-style: none;}
/* public */
body{font-size: .576rem;font-weight: bold;}
h1,h2,h3{font-size: .704rem;font-weight: bold;}
/* header */
header{
	position: relative;background-color: @blue;
	height: 1.792rem;line-height: 1.792rem;width: 100%;
	color:#fff;
	.back{position: absolute;left:.32rem;top:0;color:#fff;}
	h1{text-align: center;}
	a:hover{color:#f00;}
}
/* nav */
nav{
	height: 1.856rem;width: 100%;
	display: flex;flex-flow:row nowrap;
	a{box-sizing:border-box;flex:1 1 auto;height: 100%;text-align: center;line-height: 1.856rem;
		&:hover,&.active{border-bottom: .16rem solid @blue;}
	}
}
.banner{
	img{width: 100%;height: auto;}
}
.column{
	padding:.48rem;border-bottom: .544rem solid @border;
	.tags{
		display: flex;flex-flow:row nowrap;
		justify-content:space-between;
		a{
			flex:1 1 auto;
			text-align: center;
			border-bottom: .064rem solid @border;
			img{width: 60%;height: auto;}
			p{margin:.64rem auto .8rem;}
		}
	}
	.cols{
		display: flex;flex-flow:row nowrap;
		justify-content:space-between;
		padding-top:.64rem;
		a{
			flex:1 1 auto;
			box-sizing: border-box;
			text-align: center;
			img{width: 70%;height: auto;padding-top: .256rem;}
			p{margin:.64rem auto .8rem;margin:.448rem auto .192rem;}
			&+a{border-left: .064rem solid @border;}
		}
	}
}
.module{
	padding: .48rem;border-bottom: .544rem solid @border;
	h2{height: 1.408rem;line-height: .928rem;border-bottom: .064rem solid @border;}
	.item{
		display: flex;
		flex-flow:row nowrap;
		justify-content:space-between;
		padding-top:.416rem;
		.img-box{width:25.6%;height: 3.52rem;border:.032rem solid #FFB933;overflow: hidden;box-sizing: border-box;
			img{width: 100%;height: auto;}
		}
		.txtbox{
			// flex:1 1 auto;
			width: 70.8%;line-height: 1.6rem;
			display: flex;
			flex-flow:row wrap;
			justify-content:space-between;
			align-content:space-between;
			.txt{
				flex:0 1 48%;
				background-color: @border;
				text-align: center;
			}			
		}
	}
}
.articles{
	p{color:#ccc;}
	.article1{
		padding: .384rem 1.6rem .384rem .48rem;border-bottom: .64rem solid @border;
		display: flex;	
		flex-flow:row nowrap;
		justify-content:space-between;
		height: 3.136rem;
		img{width: 32.3%;}
		.article-content{width: 64.3%;display: flex;flex-flow:row wrap;
			h3,p{width: 100%;}
			justify-content:flex-start;align-content:space-between;}
	}
	.article2{
		padding: .384rem .576rem .384rem .48rem;
		height: 5.44rem;
		display: flex;
		flex-flow:column nowrap;
		justify-content:space-between;
		align-content:flex-start;
		.img-box{
			display: flex;
			flex-flow:row nowrap;
			justify-content:space-between;
			height: 3.2rem;
			img{
				width: 32.4%;height: auto;
			}
		}	
	}
}
footer{height: 1.92rem;background-color:#f8f8f8;}
